@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'BubblegumSans';
  src: url('/public/BubblegumSans.ttf') format('truetype');
}

body {
  font-family: 'BubblegumSans', sans-serif;
}